<form class="login-form" [formGroup]="loginForm" (submit)="onSubmit()">
  <h2>Iniciar Sesión</h2>

  <div class="input-group">
    <label for="email">Email</label>
    <input
      type="email"
      name="email"
      id="email"
      placeholder="tu@ejemplo.com"
      formControlName="email"
      required
    />
    @if (email.errors?.['required'] && (email.touched || email.dirty)) {
    <span style="color: red">El email es obligatorio.</span>
    } @if (email.errors?.['email'] && (email.touched || email.dirty)) {
    <span style="color: red">Formato de email inválido.</span>
    }
  </div>

  <div class="input-group">
    <label for="password">Contraseña</label>
    <input
      type="password"
      name="password"
      id="password"
      placeholder="*******"
      formControlName="password"
      required
    />
    @if (password.errors?.['required'] && (password.touched || password.dirty))
    {
    <span style="color: red">El password es obligatorio.</span>
    } @if (password.errors?.['minlength'] && (password.touched ||
    password.dirty)) {
    <span style="color: red">Minimo de caracteres es de 6</span>
    }
  </div>

  <button type="submit" class="login-button" [disabled]="loading">
    {{ loading ? 'Cargando...' : 'Entrar' }}
  </button>

  <p class="signup-link">
    ¿No tienes una cuenta?
    <a [routerLink]="['/register']" style="cursor: pointer">Regístrate aquí</a>
  </p>
</form>
