.diseño-usuario {
  display: flex;
  min-height: 100vh;
  position: relative;
}

.contenido-principal {
  flex: 1;
  padding: 2rem;
  display: flex;
  /* justify-content: center;
  align-items: center; */
  flex-direction: column; /* Esto alinea los hijos en columna */
  align-items: center;     /* Centra horizontalmente */
  /*justify-content: flex-start; /* Alinea arriba*/
}

.boton-agregar-libro {
  /* align-self: flex-end; Lo empuja a la derecha dentro del contenedor */
  margin-bottom: 20px;
  padding: 10px 20px;
  background-color: #4e7492;
  color: white;
  border: none;
  font-weight: bold;
  border-radius: 5px;
  cursor: pointer;
}

.boton-agregar-libro:hover {
  background-color: #4b8dbf;
}


.mensaje-vacio {
  margin-top: 100px;
  margin-bottom: 100px; /* le da espacio hacia abajo */
  text-align: center;
  font-size: 1.2rem;
  color: #444;
}